body{
	background-color:black;
	margin: 0;
}

.layout{
	width:80%;
	margin: 0 auto;
}

.header{
	height:300px;
	background-image:url(hatter2.jpg);
}

.menu{
	background-color:#C0C0C0;
	float:left;
	width: 150px;
	height:1120px;
	font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 170px;
	background: linear-gradient(#F0E68C,#CD853F);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.content{
	height:1120px;
	background-color:#999999;
	text-align: justify;
	font-size: 115%;
}

.footer{
	margin-top: -15px;
	height:50px;
	background-color:#333333;
}

#nev{
	float:right;
	padding: 0px 5px 0px 5px;
	margin-top:15px;
	font-weight:bold;
}

#datum{
	float:left;
	padding: 0px 5px 0px 5px;
	margin-top:15px;
	font-weight:bold;
}

#tartalom{
	margin-left: 170px;
	margin-right: 20px;
}

img{
	width: 100px;
    height: 70px;
    -webkit-transition: width 2s; 
    transition: width 2s;
	margin-left: 460px;
}

img:hover {
    width: 383px;
}

h1{
	margin-top:0;
	padding-top: 10px;
	text-align:center;
	text-shadow: 2px 2px;
}

p{
	margin-top: 30px;
}