body{
	background-color:black;
	margin: 0;
}

.layout{
	width:80%;
	margin: 0 auto;
}

.header{
	height:300px;
	background-image:url(hatter2.jpg);
}

.menu{
	background-color:#C0C0C0;
	float:left;
	width: 150px;
	height:170px;
}

.content{
	height:3500px;
	background-color:#999999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background: linear-gradient(#F0E68C,#CD853F);
    height: 170px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

body{
	background-color:black;
	margin: 0;
	padding: 0;
}

#nev{
	float:right;
	padding: 0px 5px 0px 5px;
	font-weight:bold;
}

#datum{
	float:left;
	padding: 0px 5px 0px 5px;
	font-weight:bold;
}

.footer{
	height:50px;
	background-color:#333333;
}

#terület{
	width:auto;
	height:auto;
	float:left;
	text-align:center;
	margin-left: 10px;
	margin-top: 20px;
}

#terület2{
	width:auto;
	height:auto;
	float:right;
	text-align:center;
	margin-left: 10px;
	margin-top: 20px;
}


#kep2{
	width:1035px;
	height:400px;
	margin:3px;
	border:1px solid #fff;
}

#felirat2{
	width:1030px;
	font-size: 135%;
	font-weight:bold;
}

#kep3{
	width:580px;
	height:570px;
	border:1px solid #fff;
	margin-right: 10px;
}

#felirat3{
	width:580px;
	font-size: 135%;
	font-weight:bold;
}

#kep4{
	width:500px;
	height:500px;
	margin:3px;
	border:1px solid #fff;
	margin-right: 10px;
}

#felirat4{
	width:500px;
	font-size: 135%;
	font-weight:bold;
}


#kep5{
	width:660px;
	height:500px;
	margin:3px;
	border:1px solid #fff;
}

#felirat5{
	width:660px;
	font-size: 135%;
	font-weight:bold;
}

#kep6{
	width:1190px;
	height:500px;
	margin:3px;
	border:1px solid #fff;
}

#felirat6{
	width:1190px;
	font-size: 135%;
	font-weight:bold;
}

